.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header--logo {
  height: 47px;
}

.header__right--link {
  margin-left: 15px;
  cursor: pointer;
  color: inherit;
}

@media screen and (max-width: 900px) {
  .header__right--link {
    text-transform: uppercase;
  }
  .header--logo {
    height: 35px;
  }
}
